
<title>
        Cloudjet | Khóa học BSC & KPI
</title>
<meta charset="UTF-8">
<meta name="keywords" content="kpi, balanced scorecard, ">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Đa phần các doanh nghiệp băn khoăn về việc đo KPI như thế nào là đúng,
 cách tính KPI của nhân viên như thế nào để đảm bảo việc đánh giá hiệu quả công việc là phù hợp." />

<meta name="google-site-verification" content="3w2kLzj2FKMRGxdAcT114l4MtzqaGyWljVUl6EFxIFs" />
<meta property="fb:app_id" content="237235299740898" />
<link rel="icon" href="//88.cjs.vn/cloudjet.ico" />
<link rel="author" href="//plus.google.com/107975323849103477884/" />
<link rel="shortcut icon" href="//88.cjs.vn/favicon.ico" type="image/x-icon">

<script type="text/javascript" src="/vn/inc/js/jquery.min.js"></script>
<script type="text/javascript" src="/vn/inc/js/owl.carousel.js"></script>
<script type="text/javascript" src="/vn/inc/js/jquery.flexslider-min.js"></script>
<script type="text/javascript" src="/vn/inc/js/bootstrap.min.js"></script>

<%- include inc/css/owl.carousel.ejs %>
<%- include inc/css/linericon.ejs %>
<%- include inc/css/latofonts.ejs %>
<%- include inc/css/cjs-kpi-home.ejs %>
<%- include inc/css/cjs-recruitment.ejs %>
<%- include inc/css/sprite.ejs %>
<link rel="stylesheet" href="https://888.cjs.vn/bootstrap3x/css/bootstrap.min.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="https://888.cjs.vn/font-awesome/css/font-awesome.min.css">
    <script src="https://888.cjs.vn/bower_components/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <link rel="icon" href="https://888.cjs.vn/cloudjet.ico"/>
    <link rel="author" href="https://plus.google.com/107975323849103477884/"/>
    <link rel="shortcut icon" href="https://888.cjs.vn/favicon.ico" type="image/x-icon"><!-- Optional theme -->
    <link rel="stylesheet" href="https://888.cjs.vn/bootstrap3x/css/bootstrap-theme.min.css" type="text/css"
          media="screen"/>
    <link rel="stylesheet" href="https://888.cjs.vn/bootstrap3x/landing-page.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="https://888.cjs.vn/bootstrap3x/tabular-grid.css?v=1442077211" type="text/css"
          media="screen"/>
    <link rel="stylesheet" href="https://888.cjs.vn/bootstrap3x/336/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://888.cjs.vn/fonts/lato-font/latofonts.css"><!-- google font -->
    <link href='https://888.cjs.vn/fonts/roboto-font/roboto.css' rel='stylesheet' type='text/css'>
    <!-- Magnific Popup core CSS file -->
    <link rel="stylesheet" href="https://888.cjs.vn/magnific-popup/magnific-popup.css">
    <style type="text/css">
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: roboto, Arial, sans-serif;
            font-weight: 300;
            color: rgb(80, 80, 80);
        }

        .lead {
            font-size: 1.17em;
        }

        .text-heading {
            color: #2971B8;
        }

        @media (min-width: 1200px) {
            .container {
                width: 970px;
            }
        }
    </style>
    <style type="text/css">
        #section-header {
            background-color: #e2f0f3;
            position: relative;

            background-image: url('https://888.cjs.vn/img/landing/workshop/110/head-section-110.png');
            background-size: auto 100%;
            background-repeat: no-repeat;
        }

        /*#section-header .header-thumb {*/

        /*}*/

        /*#header-intro {*/
        /*padding-top: 50px;*/
        /*padding-bottom: 50px;*/

        /*}*/

        /*#header-intro img.cp-logo {*/
        /*max-width: 100%;*/
        /*width: 90px;*/
        /*height: auto;*/
        /*display: block;*/
        /*margin-right: 0;*/
        /*margin-left: auto;*/
        /*}*/

        /*#header-img {*/
        /*width: 100%;*/
        /*margin-left: -15px;*/
        /*}*/

        /*#sub-nav-bar {*/
        /*padding-top: 10px;*/
        /*padding-bottom: 10px;*/
        /*background-color: #006CBF;*/
        /*font-size: 16px;*/
        /*}*/

        /*#sub-nav-bar .nav > li > a {*/
        /*color: #fff;*/
        /*font-weight: 400;*/
        /*text-shadow: 0 2px 0 #005EA6;*/
        /*}*/

        /*#sub-nav-bar .nav > li > a:hover,*/
        /*#sub-nav-bar .nav > li > a:focus {*/
        /*text-decoration: none;*/
        /*/ / background-color: #270086;*/
        /*background-color: #005EA6;*/
        /*}*/

        #values-section {
        / / background: #eee url(https://888.cjs.vn/ img/landing/kpi_p4p_new/value-bg.jpg) no-repeat;
            background-size: cover;
        }

        #success-stories-section {
            min-height: 400px;
        }

        #consults-section {
            background-color: #F8F8F8;
        }

        #consults-section .consult-item {
            background-color: #fff;
        }

        #consults-section .consult-item .sub-heading {
            font-size: 1.2em;
            font-weight: 300;
            color: rgb(80, 80, 80);
            font-style: normal;
            padding: 15px 10px;
        }

        .nowrap {
            white-space: nowrap;
        }

        .heading-title {
            font-size: 2.8em;
            /*font-weight:300;
              color: rgb(80,80,80);
          text-shadow: 0 1px 0 #FFF;*/
            font-weight: 400;
            color: rgba(80, 80, 80, 0.6);
            text-shadow: 0 1px 0 #FFF;
            text-shadow: 1px 2px 4px #fff, 0 0 0 #000;

        }

        .heading-title .brandname {
            font-weight: 700;
        / / color: #006DBF;
        / / text-shadow: 0 1 px 0 #FFF, 0 - 1 px 0 #080051;
            color: rgba(0, 109, 191, 0.6);
            text-shadow: 1px 1px 6px #FFF, 0 0 0 #000;
        }

        .lead-title {
            font-weight: 400;
            font-size: 1.2em;
            color: rgb(80, 80, 80);
            text-shadow: 0 1px 0 #FFF;
            text-transform: lowercase;
        }

        .lead-title:first-letter {
            text-transform: uppercase;
        }

        .section {
            padding-top: 50px;
            padding-bottom: 50px;
        }

        .sub-section {
            margin-top: 50px;
            margin-bottom: 50px;
        }

        .row.section-item {
            margin-top: 25px;
            margin-bottom: 25px;
        }

        .section-heading-title {
            font-size: 32px;
            font-weight: 900;
            color: #007dab;
        }

        .section-lead-title {
            color: #036DBF;
            font-size: 1.4em;
            font-weight: 400;
            margin-top: 10px;
        }

        .sub-heading {
            font-size: 1.2em;
            font-weight: 400;
            font-style: italic;
            color: rgb(80, 80, 80);
        }

        .sub-lead {
            font-size: 1em;
            font-weight: 400;
            color: rgb(130, 130, 130);
        }

        .btn-detail {
            padding: 10px 16px !important;
            min-width: 160px;
            background-color: #006CBF;
            background-image: none;
            font-size: 1.2em;
            border: 0;
        }

        .btn-detail:hover {
            /*background-color: rgba(255, 255, 255,0.4);*/
        }

        .btn-primary {
            padding: 15px 30px;
            background-color: #006CBF;
            background-image: none;
            font-size: 1.2em;
            border: 0;
        }

        .anchor {
            position: relative;
            top: -50px;
            height: 0;
        }

        #register-form-container {
            background-color: rgba(255, 255, 255, 1);
            box-shadow: 0px 0px 200px 100px #fff;
            border-radius: 8px;
        }

        .none-float {
            float: none !important;
        }

        .img-responsive {
            margin: 0 auto;
        }

        @media (max-width: 767px) {
            .img-responsive {
                width: 100%;
                display: table;
            }

            .dttg {
                margin-top: 70px;
            }

            .price {
                margin-bottom: 20px;
            }

            .price:last-child {
                margin-bottom: 0;
            }

            .under-line:after {
                display: table;
                margin: 0.4em auto;
            }

            .under-line-long:after {
                margin: 0.4em auto;
            }
        }

        .btn-try-now-wrapper {
            text-align: right;
        }


    </style>
    <style type="text/css">
        @media (min-width: 992px) {
            #section-header .row,
            #section-header .rows-table-sm {
                min-height: 550px;
            }
        }

        @media (max-width: 1199px) {
            #section-header .section-header-container {
                background-image: -webkit-linear-gradient(left, transparent 0%, rgba(222, 236, 237, 0.5) 50%);
                background-image: -o-linear-gradient(right, transparent 0%, rgba(222, 236, 237, 0.5) 50%);
                background-image: -moz-linear-gradient(right, transparent 0%, rgba(222, 236, 237, 0.5) 50%);
                background-image: linear-gradient(to right, transparent 0%, rgba(222, 236, 237, 0.5) 50%);
            }
        }

        @media (max-width: 767px) {
            #section-header {
            / / background: #f5f5f5;
                background-size: cover;
            }

            #section-header .section-header-container {
                background-image: none;
                background-color: rgba(255, 255, 255, 0.7);
            }

            #section-header .header-thumb {
                /*position: absolute;
                width: 100%;
                height: 100%;
                */
            }

            #header-intro {
                text-align: center;
            }

            #header-intro img.cp-logo {
                margin-left: auto;
                margin-right: auto;
            }

            .btn-try-now-wrapper {
                text-align: center;
            }

            .img-responsive {
                max-width: 100%;
            }
        }

        .detail-program > thead > tr > th {
            background-color: #008cb3;
            color: #fff;
            font-family: Roboto;
            vertical-align: middle;
        }

        .center {
            text-align: center;
            vertical-align: middle;
        }

        .detail-program > thead > tr > th, .detail-program > tbody > tr > td {
            font-size: 18px;
            min-width: 110px;
            font-family: Roboto;
        }

        .detail-program tr td:first-child {
            padding-left: 30px;
            vertical-align: middle;
            padding-right: 20px;
        }

        .detail-program .main:first-letter {
            font-size: 20px;
        }

        .detail-program tr td:nth-child(2), .detail-program tr th:nth-child(2) {
            padding-left: 25px;
        }

        .detail-program tr {
            min-height: 50px;
        }

        tbody tr td {
            min-height: 80px;
            font-weight: 400;
            font-family: Roboto;
        }

        tbody tr td.main {
            font-weight: 500;
        }

        .sub-p {
            padding-left: 60px !important;
        }

        td {
            white-space: normal !important;
        }

        table {
            border: 1px solid #87c6dc;
        }
    </style>
    <script>(function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=564647290251137";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
    <script type="text/javascript">


        //ref: http://stackoverflow.com/questions/9899372/pure-javascript-equivalent-to-jquerys-ready-how-to-call-a-function-when-the
        document.addEventListener('DOMContentLoaded', function () {
            // your code goes here


            var body = document.getElementsByTagName("body")[0];
            body.setAttribute("JSError", "");

            window.onerror = function (msg) {

                body.setAttribute("JSError", msg);
            };
        }, false);

        var CSRF_COOKIE_NAME = 'www.saleupcrm.comccn';
        var csrf_token = "t6yHHf7R0j35LMFPE1GqhSQ8SxW39Cag";
        const csrftoken = csrf_token;
    </script>






<link rel="preload" href="/vn/inc/css/bootstrap.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="/vn/inc/css/bootstrap.min.css"></noscript>
<link rel="preload" href="/vn/main.css?v=28022018" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="/vn/main.css?v=28022018"></noscript>
<link rel="preload" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"></noscript>

<script>
    /*! loadCSS. [c]2017 Filament Group, Inc. MIT License */
    /* This file is meant as a standalone workflow for
    - testing support for link[rel=preload]
    - enabling async CSS loading in browsers that do not support rel=preload
    - applying rel preload css once loaded, whether supported or not.
    */
    (function (w) {
        "use strict";
        // rel=preload support test
        if (!w.loadCSS) {
            w.loadCSS = function () { };
        }
        // define on the loadCSS obj
        var rp = loadCSS.relpreload = {};
        // rel=preload feature support test
        // runs once and returns a function for compat purposes
        rp.support = (function () {
            var ret;
            try {
                ret = w.document.createElement("link").relList.supports("preload");
            } catch (e) {
                ret = false;
            }
            return function () {
                return ret;
            };
        })();
        // if preload isn't supported, get an asynchronous load by using a non-matching media attribute
        // then change that media back to its intended value on load
        rp.bindMediaToggle = function (link) {
            // remember existing media attr for ultimate state, or default to 'all'
            var finalMedia = link.media || "all";
            function enableStylesheet() {
                link.media = finalMedia;
            }
            // bind load handlers to enable media
            if (link.addEventListener) {
                link.addEventListener("load", enableStylesheet);
            } else if (link.attachEvent) {
                link.attachEvent("onload", enableStylesheet);
            }
            // Set rel and non-applicable media type to start an async request
            // note: timeout allows this to happen async to let rendering continue in IE
            setTimeout(function () {
                link.rel = "stylesheet";
                link.media = "only x";
            });
            // also enable media after 3 seconds,
            // which will catch very old browsers (android 2.x, old firefox) that don't support onload on link
            setTimeout(enableStylesheet, 3000);
        };
        // loop through link elements in DOM
        rp.poly = function () {
            // double check this to prevent external calls from running
            if (rp.support()) {
                return;
            }
            var links = w.document.getElementsByTagName("link");
            for (var i = 0; i < links.length; i++) {
                var link = links[i];
                // qualify links to those with rel=preload and as=style attrs
                if (link.rel === "preload" && link.getAttribute("as") === "style" && !link.getAttribute("data-loadcss")) {
                    // prevent rerunning on link
                    link.setAttribute("data-loadcss", true);
                    // bind listeners to toggle media back
                    rp.bindMediaToggle(link);
                }
            }
        };
        // if unsupported, run the polyfill
        if (!rp.support()) {
            // run once at least
            rp.poly();

            // rerun poly on an interval until onload
            var run = w.setInterval(rp.poly, 500);
            if (w.addEventListener) {
                w.addEventListener("load", function () {
                    rp.poly();
                    w.clearInterval(run);
                });
            } else if (w.attachEvent) {
                w.attachEvent("onload", function () {
                    rp.poly();
                    w.clearInterval(run);
                });
            }
        }
        // commonjs
        if (typeof exports !== "undefined") {
            exports.loadCSS = loadCSS;
        }
        else {
            w.loadCSS = loadCSS;
        }
    }(typeof global !== "undefined" ? global : this));
</script>

<title>Cloudjet KPI - Xây dựng KPI & Bản Tiêu Chí Đánh Giá Nhân viên, Nhân sự, Hiệu Quả Công Việc</title>

<!--<link href="//88.cjs.vn/css/per_landing_style.css?modified=20140221" rel="stylesheet">-->

<!--Thang test-->
<!-- Hotjar Tracking Code for www.cloudjetsolutions.com -->
<script>
    /*(function (h, o, t, j, a, r) {
     h.hj = h.hj || function () {
     (h.hj.q = h.hj.q || []).push(arguments)
     };
     h._hjSettings = { hjid: 64826, hjsv: 5 };
     a = o.getElementsByTagName('head')[0];
     r = o.createElement('script');
     r.async = 1;
     r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
     a.appendChild(r);
     })(window, document, '//static.hotjar.com/c/hotjar-', '.js?sv=');
     */
</script>