<title>Cloudjet KPI</title>

<meta charset="UTF-8">
<meta name="keywords" content="kpi, balanced scorecard, ">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Quản lý, Xây dựng KPI & Bản Tiêu Chí Đánh Giá Năng Lực Nhân viên, Nhân sự, Hiệu Quả Công Việc. Giải pháp
    quản trị và đánh giá nhân sự theo hiệu suất. Quản lý hiệu quả bộ máy nhân sự doanh nghiệp. Xây dựng tiêu chuẩn đánh
    giá nhân viên theo KPI. Tư vấn KPI đánh giá nhân viên. Tối ưu hóa hiệu quả đánh giá năng lực và khả năng thực hiện
    công việc của nhân viên" />

<meta name="google-site-verification" content="3w2kLzj2FKMRGxdAcT114l4MtzqaGyWljVUl6EFxIFs" />
<meta property="fb:app_id" content="237235299740898" />
<link rel="icon" href="//88.cjs.vn/cloudjet.ico" />
<link rel="author" href="//plus.google.com/107975323849103477884/" />
<!--link rel="shortcut icon" href="//88.cjs.vn/favicon.ico" type="image/x-icon"-->
<link rel="shortcut icon" href="/assests/img/cloudjetkpi_favicon.png" type="image/x-icon">

<script type="text/javascript" src="/vn/inc/js/jquery.min.js"></script>
<script type="text/javascript" src="/vn/inc/js/owl.carousel.js"></script>
<script type="text/javascript" src="/vn/inc/js/jquery.flexslider-min.js"></script>
<script type="text/javascript" src="/vn/inc/js/bootstrap.min.js"></script>

<%- include inc/css/owl.carousel.ejs %>
<%- include inc/css/linericon.ejs %>
<%- include inc/css/latofonts.ejs %>
<%- include inc/css/cjs-recruitment.ejs %>
<%- include inc/css/sprite.ejs %>

<link rel="preload" href="/vn/inc/css/bootstrap.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="/vn/inc/css/bootstrap.min.css"></noscript>
<!--<link rel="preload" href="/vn/main.css?v=28022018" as="style" onload="this.onload=null;this.rel='stylesheet'">-->
<!--<noscript><link rel="stylesheet" href="/vn/main.css?v=28022018"></noscript>-->

<link rel="stylesheet" href="/vn/main.css?v=11042019" type="text/css">
<link rel="preload" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"></noscript>
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,900&amp;subset=vietnamese" rel="stylesheet">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css">
<script>
    /*! loadCSS. [c]2017 Filament Group, Inc. MIT License */
    /* This file is meant as a standalone workflow for
    - testing support for link[rel=preload]
    - enabling async CSS loading in browsers that do not support rel=preload
    - applying rel preload css once loaded, whether supported or not.
    */

    (function (w) {
        "use strict";
        // rel=preload support test
        if (!w.loadCSS) {
            w.loadCSS = function () { };
        }
        // define on the loadCSS obj
        var rp = loadCSS.relpreload = {};
        // rel=preload feature support test
        // runs once and returns a function for compat purposes
        rp.support = (function () {
            var ret;
            try {
                ret = w.document.createElement("link").relList.supports("preload");
            } catch (e) {
                ret = false;
            }
            return function () {
                return ret;
            };
        })();
        // if preload isn't supported, get an asynchronous load by using a non-matching media attribute
        // then change that media back to its intended value on load
        rp.bindMediaToggle = function (link) {
            // remember existing media attr for ultimate state, or default to 'all'
            var finalMedia = link.media || "all";
            function enableStylesheet() {
                link.media = finalMedia;
            }
            // bind load handlers to enable media
            if (link.addEventListener) {
                link.addEventListener("load", enableStylesheet);
            } else if (link.attachEvent) {
                link.attachEvent("onload", enableStylesheet);
            }
            // Set rel and non-applicable media type to start an async request
            // note: timeout allows this to happen async to let rendering continue in IE
            setTimeout(function () {
                link.rel = "stylesheet";
                link.media = "only x";
            });
            // also enable media after 3 seconds,
            // which will catch very old browsers (android 2.x, old firefox) that don't support onload on link
            setTimeout(enableStylesheet, 3000);
        };
        // loop through link elements in DOM
        rp.poly = function () {
            // double check this to prevent external calls from running
            if (rp.support()) {
                return;
            }
            var links = w.document.getElementsByTagName("link");
            for (var i = 0; i < links.length; i++) {
                var link = links[i];
                // qualify links to those with rel=preload and as=style attrs
                if (link.rel === "preload" && link.getAttribute("as") === "style" && !link.getAttribute("data-loadcss")) {
                    // prevent rerunning on link
                    link.setAttribute("data-loadcss", true);
                    // bind listeners to toggle media back
                    rp.bindMediaToggle(link);
                }
            }
        };
        // if unsupported, run the polyfill
        if (!rp.support()) {
            // run once at least
            rp.poly();

            // rerun poly on an interval until onload
            var run = w.setInterval(rp.poly, 500);
            if (w.addEventListener) {
                w.addEventListener("load", function () {
                    rp.poly();
                    w.clearInterval(run);
                });
            } else if (w.attachEvent) {
                w.attachEvent("onload", function () {
                    rp.poly();
                    w.clearInterval(run);
                });
            }
        }
        // commonjs
        if (typeof exports !== "undefined") {
            exports.loadCSS = loadCSS;
        }
        else {
            w.loadCSS = loadCSS;
        }
    }(typeof global !== "undefined" ? global : this));
</script>

<title>Cloudjet KPI - Xây dựng KPI & Bản Tiêu Chí Đánh Giá Nhân viên, Nhân sự, Hiệu Quả Công Việc</title>

<!--<link href="//88.cjs.vn/css/per_landing_style.css?modified=20140221" rel="stylesheet">-->

<!--Thang test-->
<!-- Hotjar Tracking Code for www.cloudjetsolutions.com -->
<script>
        /*(function (h, o, t, j, a, r) {
         h.hj = h.hj || function () {
         (h.hj.q = h.hj.q || []).push(arguments)
         };
         h._hjSettings = { hjid: 64826, hjsv: 5 };
         a = o.getElementsByTagName('head')[0];
         r = o.createElement('script');
         r.async = 1;
         r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
         a.appendChild(r);
         })(window, document, '//static.hotjar.com/c/hotjar-', '.js?sv=');
         */
</script>